<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twickery - Send Twitter Activity to Facebook Ticker</title>
    <meta name="description" content="">
    <meta name="author" content="">
{{>head}}
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Twickery</a>
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      {{^connected}}
      <div class="hero-unit">
        <h1>Not connected to Twickery</h1>
        <p>Twickery will publish your Twitter activity to your Facebook timeline and your friends
        will see it in their ticker. You will need to authorize both applications. Click "connect"
        to continue the process.</p>
        <p><a class="btn primary large" href="http://www.twickery.com/twitter/connect">Connect &raquo;</a></p>
      </div>
      {{/connected}}
      {{#connected}}
      <div class="hero-unit">
        <h1>Hi {{name}},</h1>
        <h2>You are connected to Twickery</h2>
        <p>Your Twitter activity is being broadcast to your Facebook timeline so your friends
        can see your favorites, retweets and follows from Twitter.</p>
        <p><a class="btn primary large" href="http://www.twickery.com/twitter/disconnect">Disconnect &raquo;</a></p>
      </div>
      {{/connected}}

      <footer>
        <p>&copy; Sam Pullara 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>